version: "3.7"

services:
  app:
    build:
      context: .
      dockerfile: ./docker/golang/Dockerfile
    container_name: app
    volumes:
      - ./:/app
    # command: ["go", "run", "src/cmd/main.go"]
    ports:
      - "8080:8080"
    # environment:
    #   - DB_HOST=${DB_HOST:-db}
    #   - DB_PORT=${DB_POTR:-5432}
    #   - DB_USER=${POSTGRES_USER:-postgres}
    #   - DB_PASSWORD=${POSTGRES_PASSWORD:-password}
    #   - DB_NAME=${POSTGRES_DB:-postgres}
    depends_on:
      - db
    networks:
      - app_network

  db:
    image: postgres:16.0-alpine
    container_name: db
    ports:
      - ${POSTGRES_HOST_PORT}:${POSTGRES_PORT}
    environment:
      TZ: Asia/Tokyo
      PGTZ: Asia/Tokyo
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    tty: true
    restart: always
    user: root
    # volumes:
    #   - ./init:/docker-entrypoint-initdb.d
    #   - postgres_data:/var/lib/postgresql/data/
    networks:
      - app_network

  pgweb:
    image: sosedoff/pgweb
    container_name: pgweb
    ports:
      - ${PGWEB_HOST_PORT}:${PGWEB_PORT}
    environment:
      TZ: Asia/Tokyo
      PGTZ: Asia/Tokyo
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable
    restart: always
    depends_on:
      - db
    networks:
      - app_network

networks:
  app_network:
